Using data from https://www.kaggle.com/c/mercari-price-suggestion-challenge/data

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
df = pd.read_csv('input/train.tsv', sep='\t')

In [15]:
df.head(5)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [31]:
df['sale_date'] = pd.to_datetime("'2018-10-20'".replace("'",""))
df['sale_date'] = df['sale_date'].apply(lambda x: x - pd.Timedelta(np.random.randint(1, 365), unit='D'))

category_median = {
    'Women/Jeans/Slim, Skinny': 13,
    'Women/Shoes/Boots': 3,
    'Women/Tops & Blouses/T-Shirts': 5
}
DEFAULT_MEDIAN = 7

not_in_list = ~df['category_name'].isin(category_median.keys())
df['list_date'] = df.loc[not_in_list]['sale_date'].apply(lambda x: x - pd.Timedelta(np.floor(np.random.chisquare(DEFAULT_MEDIAN)), unit='D')) 

for key in list(category_median.keys()):
    index_filter = df['category_name'] == key
    df['list_date'].loc[index_filter] = df[index_filter]['sale_date'].apply(lambda x: x - pd.Timedelta(np.random.chisquare(category_median[key]), unit='D')) #default for all
    
df['time_to_sale'] = df['sale_date'] - df['list_date']
df['time_to_sale'] = df['time_to_sale'].dt.days

C:\Users\z6mjm\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
df

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,sale_date,list_date,time_to_sale
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,2018-04-15,2018-04-11 00:00:00.000000000,4
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,2018-02-05,2018-01-29 00:00:00.000000000,7
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,2018-04-13,2018-04-03 00:00:00.000000000,10
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,2018-07-17,2018-07-05 00:00:00.000000000,12
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,2017-11-05,2017-11-01 00:00:00.000000000,4
5,5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma...",2018-08-18,2018-08-08 00:00:00.000000000,10
6,6,Acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,Acacia Swimwear,64.0,0,Size small but straps slightly shortened to fi...,2017-12-06,2017-12-02 00:00:00.000000000,4
7,7,Girls cheer and tumbling bundle of 7,3,Sports & Outdoors/Apparel/Girls,Soffe,6.0,1,You get three pairs of Sophie cheer shorts siz...,2018-08-27,2018-08-22 00:00:00.000000000,5
8,8,Girls Nike Pro shorts,3,Sports & Outdoors/Apparel/Girls,Nike,19.0,0,Girls Size small Plus green. Three shorts total.,2017-12-23,2017-12-15 00:00:00.000000000,8
9,9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...,2018-06-20,2018-06-15 00:00:00.000000000,5
10,10,Smashbox primer,2,Beauty/Makeup/Face,Smashbox,8.0,1,0.25 oz Full size is 1oz for [rm] in Sephora,2018-08-28,2018-08-17 00:00:00.000000000,11
11,11,New vs pi k body mists,1,Beauty/Fragrance/Women,Victoria's Secret,34.0,0,(5) new vs pink body mists (2.5 oz each) Fresh...,2017-12-05,2017-11-15 00:00:00.000000000,20
12,12,Black Skater dress,2,"Women/Dresses/Above Knee, Mini",rue,16.0,0,"Xl, great condition",2018-04-03,2018-03-22 00:00:00.000000000,12
13,13,Sharpener and eraser,1,Other/Office supplies/School Supplies,Scholastic,4.0,1,No description yet,2018-07-23,2018-07-17 00:00:00.000000000,6
14,14,HOLD for Dogs2016 Minnetonka boots,3,Women/Shoes/Boots,UGG Australia,43.0,0,Authentic. Suede fringe boots. Great condition...,2018-04-28,2018-04-25 12:21:19.371715200,2
15,15,Sephora tarte birthday gift,1,Beauty/Makeup/Makeup Sets,Tarte,11.0,1,Brand new. Deluxe travel size products. Contai...,2018-06-02,2018-05-13 00:00:00.000000000,20
16,16,Glitter Eyeshadow,1,Beauty/Makeup/Eyes,Wet n Wild,6.0,1,2 glitter eyeshadows; one in Brass and one in ...,2017-11-04,2017-10-27 00:00:00.000000000,8
17,17,New: Baby K'tan active baby carrier,1,Kids/Gear/Backpacks & Carriers,NaN,29.0,1,Brand new in box Size: Medium Color: Coral Ret...,2018-08-25,2018-08-22 00:00:00.000000000,3
18,18,"Too Faced Limited ""Merry Macaroons""",1,Beauty/Makeup/Makeup Palettes,Too Faced,25.0,1,This AUTHENTIC pallete by Too Faced is brand n...,2018-02-18,2018-02-16 00:00:00.000000000,2
19,19,Cream/ Beige Front Cross Shirt,2,Women/Tops & Blouses/Blouse,Anthropologie,27.0,0,"Fancy, dressy or casual! Dress it up or down 1...",2017-12-12,2017-12-03 00:00:00.000000000,9
20,20,Torrid Nautical Peplum Tube Top,3,"Women/Tops & Blouses/Tank, Cami",Torrid,13.0,1,Size 1. Worn once. Excellent condition,2018-02-02,2018-01-22 00:00:00.000000000,11
21,21,NWT VS ULTIMATE SPORTS BRA 34ddd,1,Women/Athletic Apparel/Sports Bras,Victoria's Secret,20.0,0,NWT Victoria's Secret ULTIMATE SPORT BRA -MAXI...,2018-01-28,2018-01-26 00:00:00.000000000,2
22,22,Galaxy S7 Edge (Unlocked) 32GB,3,Electronics/Cell Phones & Accessories/Cell Pho...,Samsung,386.0,0,"Reasonable offers welcomed. But if you ask ""lo...",2018-06-13,2018-06-09 00:00:00.000000000,4
23,23,Triple car charger,1,Electronics/Cell Phones & Accessories/Chargers...,NaN,8.0,1,Brand new never used All colors are available ...,2018-05-12,2018-05-06 00:00:00.000000000,6
24,24,Black and Red Baseball Tee,2,Women/Tops & Blouses/T-Shirts,FOREVER 21,10.0,0,lanascloset ~~~ description: never worn! ✨ i d...,2018-05-01,2018-04-26 01:05:53.596176000,4
25,25,Air Jordan carmine 6s,3,Men/Shoes/Athletic,Air Jordan,66.0,0,They are 100 percent authentic. They are beate...,2018-03-05,2018-02-11 00:00:00.000000000,22
26,26,Otterbox Defender iPhone 6 Plus/6s Plus,1,"Electronics/Cell Phones & Accessories/Cases, C...",Apple,13.0,1,Brand new Otterbox Defender iPhone 6 Plus/6s Plus,2018-08-16,2018-08-06 00:00:00.000000000,10
27,27,LuLaRoe OS Black With White Polka Dots,3,"Women/Athletic Apparel/Pants, Tights, Leggings",LuLaRoe,24.0,0,Worn one time. Excellent condition,2018-04-20,2018-04-19 00:00:00.000000000,1
28,28,Forever21 floral romper strapless,2,Women/Swimwear/One-Piece,FOREVER 21,5.0,1,Beautiful Excellent condition Zips and ties in...,2018-06-15,2018-06-05 00:00:00.000000000,10
29,29,Kendra bundle,3,Women/Jeans/Boot Cut,Hollister,16.0,1,29w. X 33l. Social stretch hollister jeans ***...,2018-06-07,2018-05-31 00:00:00.000000000,7
...,...,...,...,...,...,...,...,...,...,...,...
1482505,1482505,NorthFace rain jacket!,3,Women/Coats & Jackets/Raincoat,The North Face,34.0,0,great condition! a few signs of wear on the in...,2017-11-21,2017-11-14 00:00:00.000000000,7
1482506,1482506,KitchenAid 4.5 quart mixer,1,Home/Home Appliances/Kitchen Appliances,KitchenAid,165.0,0,Brand new sealed in box kitchen aid kitchenaid...,2018-06-21,2018-06-13 00:00:00.000000000,8
1482507,1482507,Grand Theft Auto V: XBOX ONE,3,Electronics/Video Games & Consoles/Games,NaN,24.0,0,Just the game and the case. Lightly used.,2018-01-13,2018-01-02 00:00:00.000000000,11
1482508,1482508,Victoria secret black bag,1,Women/Women's Handbags/Shoulder Bag,Victoria's Secret,21.0,0,New with tags,2018-10-16,2018-10-12 00:00:00.000000000,4
1482509,1482509,Fitbit Charge 2,3,Sports & Outdoors/Exercise/Fitness accessories,NaN,95.0,1,"Fit bit charge 2, comes with box, charger pack...",2017-12-17,2017-12-13 00:00:00.000000000,4
1482510,1482510,2×Popsockets for all phone & Tablet,1,Electronics/Cell Phones & Accessories/Cell Pho...,NaN,9.0,1,Popsockets for all phone & Tablet Add 1 clip m...,2018-01-15,2018-01-08 00:00:00.000000000,7
1482511,1482511,Bebe Beauty Gloss Icon Lip Gloss,1,Beauty/Makeup/Lips,NaN,5.0,1,"Brand: Bebe Beauty lip gloss, in color Icon. B...",2018-09-07,2018-08-29 00:00:00.000000000,9
1482512,1482512,Lululemon,2,Women/Athletic Apparel/Shirts & Tops,Lululemon,34.0,0,NWOT - Blue - size 8,2018-04-23,2018-04-11 00:00:00.000000000,12
1482513,1482513,Yugioh Ultra Rare B. Skull Dragon,3,Vintage & Collectibles/Trading Cards/Animation,Konami,5.0,1,Yu-Gi-Oh Ultra Rare Single Card in NM conditio...,2018-04-20,2018-04-16 00:00:00.000000000,4
1482514,1482514,Anthropologie Purse!,3,Handmade/Bags and Purses/Purse,NaN,23.0,0,Leather Navy and creme polka dot With brown ac...,2018-04-11,2018-04-03 00:00:00.000000000,8
1482515,1482515,Pink Yankees hoodie,3,Women/Sweaters/Hooded,PINK,20.0,1,Size medium,2017-12-18,2017-12-14 00:00:00.000000000,4
1482516,1482516,New Bath & Body Works Scented Candle,1,Home/Home Décor/Candles & Holders,Bath & Body Works,15.0,0,Bath & Body Works Scented Candle Vanilla Bloss...,2018-06-01,2018-05-16 00:00:00.000000000,16
1482517,1482517,34D VS PINK red push up bra,3,Women/Underwear/Bras,PINK,11.0,0,To see all of the bras I have listed key in JB...,2018-07-04,2018-06-29 00:00:00.000000000,5
1482518,1482518,Brooches: lot of 5 assorted (1 Coro),3,Vintage & Collectibles/Jewelry/Brooch,NaN,10.0,1,3 appear to be VTG. The pink one is Coro.,2018-03-12,2018-03-10 00:00:00.000000000,2
1482519,1482519,SALE! FreeShip VS Logo Thong,1,Women/Underwear/Panties,PINK,9.0,1,"Brand new with tags, Victoria Secret logo thon...",2018-04-28,2018-04-17 00:00:00.000000000,11
1482520,1482520,Bundle for BeSpa,3,Kids/Boys 0-24 Mos/One-Pieces,Gap,18.0,1,Bundle of Baby Gap's First Favorites 3-6 month...,2018-02-07,2018-02-04 00:00:00.000000000,3
1482521,1482521,Tarte Amazonian clay 12 hour blush,1,Beauty/Makeup/Face,Tarte,9.0,1,"Brand new, never used.",2018-04-13,2018-04-05 00:00:00.000000000,8
1482522,1482522,LG K7/Tribute 5 Hybrid Case,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,8.0,1,"Perfect Design for LG Tribute 5 / LG K7, NOT f...",2018-03-01,2018-02-25 00:00:00.000000000,4
1482523,1482523,NARS illuminator orgasm,3,Beauty/Makeup/Face,Nars,8.0,0,Still more than half left in this! Color is or...,2018-09-11,2018-09-03 00:00:00.000000000,8
1482524,1482524,Penn State Jogger Sweatpants,2,Women/Athletic Apparel/Tracksuits & Sweats,Nike,26.0,0,▪️NWOT ▪️Perfect Condition ▪️Barely been worn ...,2018-02-05,2018-02-04 00:00:00.000000000,1
1482525,1482525,Red Victoria's Secret bra w sequins,2,Women/Underwear/Bras,PINK,7.0,1,Removable straps to make strapless Size: 34 B ...,2018-05-19,2018-05-16 00:00:00.000000000,3
1482526,1482526,Harry Potter Shirt! Women M/ Girl XL,2,Women/Tops & Blouses/T-Shirts,NaN,12.0,0,"Great Harry Potter Shirt! ""Hogwarts, School of...",2018-03-17,2018-03-03 11:03:02.873433600,13
1482527,1482527,Blk/white ribbed mock neck bodysuit M,1,Women/Tops & Blouses/Blouse,NaN,10.0,1,Brand new black and white ribbed mock neck bod...,2017-11-24,2017-11-20 00:00:00.000000000,4
1482528,1482528,Victoria's Secret Tankini Sz. Large,2,Women/Athletic Apparel/Sports Bras,Victoria's Secret,18.0,1,Purple and Paisley Victoria's Secret Tankini S...,2017-10-31,2017-10-30 00:00:00.000000000,1
1482529,1482529,Men's UA [rm],2,Men/Athletic Apparel/Shirts & Tops,Under Armour,34.0,0,[rm] for the set both in perfect condition no ...,2017-11-26,2017-11-20 00:00:00.000000000,6
1482530,1482530,Free People Inspired Dress,2,Women/Dresses/Mid-Calf,Free People,20.0,1,"Lace, says size small but fits medium perfectl...",2018-03-04,2018-02-27 00:00:00.000000000,5
1482531,1482531,Little mermaid handmade dress,2,Kids/Girls 2T-5T/Dresses,Disney,14.0,0,Little mermaid handmade dress never worn size 2t,2018-05-19,2018-05-17 00:00:00.000000000,2
1482532,1482532,21 day fix containers and eating plan,2,Sports & Outdoors/Exercise/Fitness accessories,NaN,12.0,0,"Used once or twice, still in great shape.",2018-01-25,2018-01-18 00:00:00.000000000,7
1482533,1482533,World markets lanterns,3,Home/Home Décor/Home Décor Accents,NaN,45.0,1,There is 2 of each one that you see! So 2 red ...,2018-05-12,2018-04-22 00:00:00.000000000,20
1482534,1482534,Brand new lux de ville wallet,1,Women/Women's Accessories/Wallets,NaN,22.0,0,"New with tag, red with sparkle. Firm price, no...",2017-10-21,2017-10-17 00:00:00.000000000,4

In [28]:
pd.Series(np.random.random(len(df))) > 0.1

0           True
1           True
2          False
3           True
4           True
5           True
6           True
7           True
8           True
9           True
10          True
11          True
12          True
13          True
14          True
15          True
16          True
17          True
18          True
19          True
20          True
21          True
22          True
23          True
24          True
25          True
26          True
27          True
28          True
29          True
           ...
1482505     True
1482506    False
1482507     True
1482508     True
1482509     True
1482510     True
1482511     True
1482512     True
1482513     True
1482514     True
1482515     True
1482516    False
1482517     True
1482518     True
1482519     True
1482520     True
1482521     True
1482522     True
1482523     True
1482524     True
1482525     True
1482526     True
1482527     True
1482528     True
1482529     True
1482530    False
1482531     True
1482532     True
1482533     True
1482534     True
Length: 1482535, dtype: bool